h2 {
    text-align: center;
}

.mainDiv {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    background-color: #008b8b;
    color: #fff;
    height: 25px;
    width: 75px;
    margin: 20px;
}

.divSplitName {
    display: inline-block;
    border: 1px solid black ;
    padding: 5px;
}

.inputSplit {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.fullName {
    padding: 5px ;
    margin: 5px;
}